* {
    /* Global values */
    font-family: "Imagine";
    color: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-sizing: border-box;
    /* Disable font anti-aliasing for pixel type */
    font-smooth: never;
    -webkit-font-smoothing : none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

@font-face {
  font-family: "Imagine";
  /* Convert to woff2 later */
  src: url('../font/imagine.ttf');
}

.game-window {
    width: 1280px;
    height: 720px;
    position: absolute;
    /* Center the game window */
    left: calc(50vw - 640px);
    top: calc(50vh - 360px);
    /* Make sure nothing can be seen outside the game window */
    overflow:hidden;
}

.view {
    /* Each section of the interface, hidden by default */
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

/* Show initial screen */
.view.showing {
    display: block;
}

.view.main-menu {
    background: rgb(45,19,61);
    background: -moz-linear-gradient(top, rgba(45,19,61,1) 0%, rgba(11,20,38,1) 100%);
    background: -webkit-linear-gradient(top, rgba(45,19,61,1) 0%,rgba(11,20,38,1) 100%);
    background: linear-gradient(to bottom, rgba(45,19,61,1) 0%,rgba(11,20,38,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d133d', endColorstr='#0b1426',GradientType=0 );
}

.view.create-game {
    background: rgb(246,69,133);
    background: -moz-linear-gradient(top, rgba(246,69,133,1) 0%, rgba(59,0,96,1) 100%);
    background: -webkit-linear-gradient(top, rgba(246,69,133,1) 0%,rgba(59,0,96,1) 100%);
    background: linear-gradient(to bottom, rgba(246,69,133,1) 0%,rgba(59,0,96,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f64585', endColorstr='#3b0060',GradientType=0 );
}

.view.lobby {
    background: rgb(29,9,40);
    background: -moz-linear-gradient(top, rgba(29,9,40,1) 0%, rgba(246,69,133,1) 100%);
    background: -webkit-linear-gradient(top, rgba(29,9,40,1) 0%,rgba(246,69,133,1) 100%);
    background: linear-gradient(to bottom, rgba(29,9,40,1) 0%,rgba(246,69,133,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d0928', endColorstr='#f64585',GradientType=0 );
}

.view.join-game {
    background: rgb(50,234,255);
    background: -moz-linear-gradient(top, rgba(50,234,255,1) 0%, rgba(209,87,207,1) 100%);
    background: -webkit-linear-gradient(top, rgba(50,234,255,1) 0%,rgba(209,87,207,1) 100%);
    background: linear-gradient(to bottom, rgba(50,234,255,1) 0%,rgba(209,87,207,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32eaff', endColorstr='#d157cf',GradientType=0 );
}

.view.post-game {
    background: rgb(255,199,0);
    background: -moz-linear-gradient(top, rgba(255,199,0,1) 0%, rgba(246,69,133,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,199,0,1) 0%,rgba(246,69,133,1) 100%);
    background: linear-gradient(to bottom, rgba(255,199,0,1) 0%,rgba(246,69,133,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc700', endColorstr='#f64585',GradientType=0 );
}

.view.my-stats {
    background: rgb(176,50,255);
    background: -moz-linear-gradient(top, rgba(176,50,255,1) 0%, rgba(255,140,0,1) 100%);
    background: -webkit-linear-gradient(top, rgba(176,50,255,1) 0%,rgba(255,140,0,1) 100%);
    background: linear-gradient(to bottom, rgba(176,50,255,1) 0%,rgba(255,140,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b032ff', endColorstr='#ff8c00',GradientType=0 );
}

h1 {
    position: absolute;
    top: 64px;
    left: 64px;
    font-size: 80px;
    margin: 0;
}

h2 {
    position: absolute;
    top: 64px;
    left: 64px;
    font-size: 64px;
    margin: 0;
}

.main-menu > ul {
    /* Remove list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 64px;
    left: 64px;
}

.main-menu > ul > li {
    width: 600px;
    font-size: 42px;
    padding: 12px 24px;
}

.main-menu > ul > li:hover {
    /* Sunset gradients */
    background: rgb(246,69,133);
    background: -moz-linear-gradient(left, rgba(246,69,133,1) 0%, rgba(252,255,59,1) 100%);
    background: -webkit-linear-gradient(left, rgba(246,69,133,1) 0%,rgba(252,255,59,1) 100%);
    background: linear-gradient(to right, rgba(246,69,133,1) 0%,rgba(252,255,59,1) 100%);
    cursor: pointer;
}

.main-menu > a.thefeeltrain {
    /* Always sign your work */
    position: absolute;
    bottom: 32px;
    right: 32px;
    font-size: 18px;
    text-decoration: none;
}

.player-list {
    /* Remove list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 64px;
    top: 280px;
}

.player-list > li {
    width: 500px;
    font-size: 42px;
    padding: 12px 24px;
    background-color: #000;
    margin: 0 0 8px;
}

.player-count {
    position: absolute;
    top: 64px;
    right: 64px;
    font-size: 64px;
    margin: 0;
}

.server-browser {
    position: absolute;
    top: 200px;
    left: 64px;
    right: 64px;
    height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.server {
    cursor: pointer;
    transition: .2s;
    width: 100%;
    padding: 16px;
    background-color: #fff;
    margin-bottom: 8px;
}

.server:hover {
    background-color: #000;
}

.server:hover .name, .server:hover .players {
    color: #fff;
}

.server .name, .server .players {
    transition: .2s;
    width: 558px;
    font-size: 42px;
    color: #000;
    display: inline-block;
}

.players {
    text-align: right;
}

.game-code {
    font-size: 80px;
}

/* Settings */

.settings {
    font-size: 42px;
    position: absolute;
    top: 200px;
    left: 64px;
}

.setting {
    margin-bottom: 32px;
}

.setting > ul {
    margin: 0 0 0 48px;
    padding: 0;
    display: inline-block;
    list-style-type: none;
}

.setting > ul > li {
    transition: .2s;
    display: inline-block;
    margin-right: 16px;
}

/* When a setting is selected */
.setting > ul > li.selected {
    color: #F4BB00;
}

/* When a setting is hovered */
.setting > ul > li:hover {
    transform: scale(1.1);
    cursor: pointer;
}


/* Start and back buttons */
.start, .back {
    display: block;
    cursor: pointer;
    position: absolute;
    bottom: 32px;
    right: 64px;
    font-size: 42px;
    width: 200px;
    padding: 8px;
    text-align: right;
    transition: 0.2s;
}

.start.host {
    width: auto;
}

.back {
    left: 64px;
    text-align: left;
}

.back:hover, .start:hover {
    background: #fff;
    color: #000;
}

.scoreboard {
    position: absolute;
    top: 0;
    left: 0;
    width: 280px;
    height: 720px;
    background: #000;
}

.scoreboard.right {
    left: auto;
    right: 0;
}

.score {
    width: 240px;
    position: absolute;
    left: 20px;
    font-size: 42px;
    text-align: center;
}

.score.top {
    top: 20px;
}

.score.bottom {
    bottom: 20px;
}

.score.two-players {
    top: 300px;
    bottom: auto;
}

.score .points {
    margin-top: 24px;
    display: block;
    font-size: 80px;
    text-align: center;
}

.score.blue .name, .score.blue .points {
    color: #00ccff;
    text-shadow: 0px 0px 24px rgba(0,204,255,1);
}

.score.pink .name, .score.pink .points {
    color: #ff0091;
    text-shadow: 0px 0px 24px rgba(255,0,145,1);
}

.score.purple .name, .score.purple .points {
    color: #8c00ff;
    text-shadow: 0px 0px 24px rgba(140,0,255,1);
}

.score.orange .name, .score.orange .points {
    color: #ff8c00;
    text-shadow: 0px 0px 24px rgba(255,140,0,1);
}

.play {
    position: absolute;
    top: 0;
    left: 280px;
    width: 720px;
    height: 720px;
    background: rgb(11,15,61);
    background: -moz-radial-gradient(center, ellipse cover, rgba(11,15,61,1) 0%, rgba(14,8,15,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(11,15,61,1) 0%,rgba(14,8,15,1) 100%);
    background: radial-gradient(ellipse at center, rgba(11,15,61,1) 0%,rgba(14,8,15,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b0f3d', endColorstr='#0e080f',GradientType=1 );
}

.player {
    position: absolute;
    border-radius: 2px;
    top: 0;
    left: 0;
}

.player.blue {
    transform: translate(60px,300px);
    width: 20px;
    height: 120px;
    border: 2px solid #00ccff;
    box-shadow: 0px 0px 32px 2px rgba(0,204,255,1), inset 0px 0px 32px 2px rgba(0,204,255,1);
}

.player.pink {
    transform: translate(300px,60px);
    width: 120px;
    height: 20px;
    border: 2px solid #ff0091;
    box-shadow: 0px 0px 32px 2px rgba(255,0,145,1), inset 0px 0px 32px 2px rgba(255,0,145,1);
}

.player.purple {
    transform: translate(640px,300px);
    width: 20px;
    height: 120px;
    border: 2px solid #8c00ff;
    box-shadow: 0px 0px 32px 2px rgba(140,0,255,1), inset 0px 0px 32px 2px rgba(140,0,255,1);
}

.player.orange {
    transform: translate(300px,640px);
    width: 120px;
    height: 20px;
    border: 2px solid #ff8c00;
    box-shadow: 0px 0px 32px 2px rgba(255,140,0,1), inset 0px 0px 32px 2px rgba(255,140,0,1);
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    transform: translate(350px,350px);
    border: 2px solid #00d900;
    box-shadow: 0px 0px 32px 2px rgba(0,217,0,1), inset 0px 0px 32px 2px rgba(0,217,0,1);
    border-radius: 100%;
}

.ball.linus {
    background-image: url(../img/linus.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}

.winner {
    position: absolute;
    left: 64px;
    top: 200px;
    font-size: 100px;
}

.winner span {
    display: block;
    font-size: 160px;
    margin-top: 80px;
}

.corner {
    width: 80px;
    height: 80px;
    position: absolute;
    background: #000;
}

.corner.top {top: 0;}
.corner.bottom {bottom: 0;}
.corner.left {left: 0;}
.corner.right {right: 0;}

.chat-box {
    position: absolute;
    left: 820px;
    top: 200px;
    height: 324px;
    width: 396px;
    background: #000;
}

.chat-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 32px);
    padding: 16px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.chat-message {
    font-size: 24px;
    margin-bottom: 8px;
}

.chat-input {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 32px;
    font-size: 24px;
    background: #000;
    outline: 0;
    border: 0;
    padding: 8px 24px;
}
